/* Specificity scale

Tags start here (LEAST SPECIFIC: can be overridden by IDs and classes) */
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://www.serebii.net/pokearth/maps/hoenn-em/2.png");
}

h1, h2, h3, p, li {
    font-family: Arial;
    color: white;
}

h1 {
    text-align: center;
}

/* Classes start here (MIDDLE MAN: can override tags and be overridden by IDs */
.bold {
    font-weight: bold;
}

.table {
    display: table;
    margin: auto;
}


ul.nav-list li {
    display: inline-block;
    margin-right: 8px;
    font-size: xx-large;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background: rgba(0, 0, 0, 1.0);
}

ul.nav-list a {
    color: white;
    text-decoration: none;
}

/* IDs start here (MOST SPECIFIC: overrides everything, cannot be overridden by anything except the !important attribute) */

#header, #whatis, #features, #meetthedevs, #download, #media {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background: rgba(0, 0, 0, 0.8);
}

#whatis, #features, #meetthedevs, #download, #media {
    text-align: center;
}


#nav {
    height: auto;
    background: white;
    background-position: center;
    background-size: auto;
}

img {
    height: 200px;
    width: auto;
}
